body {
	background-color:#0D357E;
}

p {
	color: blue;
}

#banana {
	font-style: italic;
	color: white;
}

header {
		background-color: white;
			font-size: 20px;
}

#container {
	border: 10px solid blue;
}
h1 {
 background-color:#0086BD;
font-family: 'Libre Baskerville', serif;
color:#FFFFFF;
}
